{% load uuid wagtailimages_tags %}
{% uuid as carousel_id %}
<div id="{{ carousel_id }}" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        {% for slide in value %}
            <li data-bs-target="#{{ carousel_id }}" data-bs-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}></li>
        {% endfor %}
    </ol>
    <div class="carousel-inner">
        {% for slide in value %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                {% image slide.image width-400 class="d-block w-100" %}
                {{ slide.caption }}
            </div>
        {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#{{ carousel_id }}" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#{{ carousel_id }}" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </a>
</div>
